<p><h2>Edit multiple</h2></p>

<%= form_tag update_individual_players_path, method: :put do %>
	<table>
		<thead>
			<tr>
				<th>Rank</th>
				<th>Name</th>
				<th>Team</th>
				<th>Position</th>
				<th>Games</th>
				<th>Points</th>
				<th>Goals</th>
				<th>Assists</th>
				<th>Salary</th>
				<th>Power play</th>
				<th>Last PP</th>
				<th>Color</th>
				<th>Drafted</th>
				<th></th>
			</tr>
		</thead>

	<% @players.each do |player| %>
		<%= fields_for "players[]", player do |f| %>
			<p><h3><%= player.name %></h3></p>
			<%= render "fields", :f => f %>
		<% end %>
	<% end %>
	<p><%= submit_tag "Submit" %></p>
<% end %>		