<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th align='left'>Name</th>
      <th align='center'>Points</th>
      <th align='center'>Goals</th>
      <th align='center'>Assists</th>
      <th align='center'>Rank</th>
      <th align='center'>Nhl points</th>
      <th align='center'>Nhl goals</th>
      <th align='center'>Nhl assists</th>
      <th align='center'>Nhl rank</th>
      <th align='center'>Team</th>
      <th align='center'>Last team</th>
      <th align='center'>Power play</th>
      <th align='center'>Pp last year</th>
      <th align='center'>Position</th>
      <th align='center'>Salary</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td align='left'><%= player.name %></td>
        <td align='center'><%= player.points %></td>
        <td align='center'><%= player.goals %></td>
        <td align='center'><%= player.assists %></td>
        <td align='center'><%= player.rank %></td>
        <td align='center'><%= player.nhl_points %></td>
        <td align='center'><%= player.nhl_goals %></td>
        <td align='center'><%= player.nhl_assists %></td>
        <td align='center'><%= player.nhl_rank %></td>
        <td align='center'><%= player.team %></td>
        <td align='center'><%= player.last_team %></td>
        <td align='center'><%= player.power_play %></td>
        <td align='center'><%= player.pp_last_year %></td>
        <td align='center'><%= player.position %></td>
        <td align='center'><%= number_to_currency player.salary, precision: 0 %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
