<!DOCTYPE html>


<html>


<head>
  <title>My poule</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>


<body class="<%= controller.controller_name %>">

<div id='banner'>
	<h1><%= link_to "My poule", home_index_path %></h1>
	<hr>
</div>

<div id='main'>
	<%= yield %>
</div>

</body>


</html>